{% extends "pages/base.html" %}
{% load static %}
{% block title %}
    Xử lý điểm ảnh
{% endblock %}
{% block button_process %}
    <ul class="navbar-nav">

        <li class="nav-item">
            <button type="button" id="button-excel" class="btn btn-outline-primary mx-1" data-toggle="modal" data-target="#myModal_excel">
                Dữ liệu ảnh
            </button>
        </li>

        <li class="nav-item">
            <button id="button-img" type="button" class="btn btn-outline-primary mx-1" data-toggle="modal" data-target="#myModal_image">
                Đọc file ảnh
            </button>
        </li>

        <li class="nav-item">
            <form method="post" enctype="multipart/form-data" id="excel-download">
              {% csrf_token %}
              <input id="upload_excel-btn" type="submit" name="upload_excel-btn" value="Download dữ liệu ảnh" class="btn btn-outline-primary mx-1" />
            </form>
        </li>
        <li class="nav-item">
            <button id="button-img" type="button" class="btn btn-outline-primary mx-1" data-toggle="modal" data-target="#myModal_profile">
               Tài khoản
            </button>
        </li>
    </ul>
{% endblock %}
{% block content%}
<section class="bg-gradient d-flex align-items-center py-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7">\
            <h1 class="text-white">Hướng dẫn sử dụng</h1>
            <p class="lead text-white">
              Chi tiết hướng dẫn sử dụng Module gợi ý màu trong chuỗi dự án Dali
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row justify-content-center">
              <div class="col-md-12 col-lg-12">

                <article id="components">
                  <h3 class="h4">
                    <p>Hướng dẫn sử dụng Module</p>
                  </h3>
                  <div class="container">
                    <div class="col-md-12 col-lg-12">
                      <a href="#excel1" data-toggle="collapse">B1. Tải dữ liệu ảnh lên database</a>
                      <div id="excel1" class="collapse">
                        <p>- Click nút "Dữ liệu ảnh".</p>
                        <p>- Chọn file Excel chứa dữ liệu cần tải lên.</p>
                        <p>- Tải file Excel chứa dữ liệu để thực hiện tra cứu.</p>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                      <a href="#image"  data-toggle="collapse">B2. Đọc file ảnh</a>
                      <div id="image" class="collapse">
                        <p>- Click nút "Đọc file ảnh".</p>
                        <p>- Chọn file ảnh cần đọc.</p>
                        <p>- Tải file ảnh chứa dữ liệu để thực hiện tra cứu</p>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                      <a href="#DownExcel"  data-toggle="collapse">Tải về dữ liệu ảnh</a>
                      <div id="DownExcel" class="collapse">
                        <p>- Click nút "Download dữ liệu ảnh".</p>
                      </div>
                    </div>
                  </div>
                </article>

                <article id="setting-up-dev-tools">
                  <h3 class="h4">
                    <p>Cài đặt Dev Tools</p>
                  </h3>
                  <div>
                    <p>Cài đặt NodeJS và NPM , run <code>npm install</code> </p>
                    <pre class="  language-bash"><code class="  language-bash">npm install
                    </code></pre>
                    <p>Tiếp theo cài đặt môi trường Python.</p>
                    <pre class="  language-bash"><code class="  language-bash">python setup.py -install
                    </code></pre>
                    <p>IDE để lập trình Django <a href="https://code.visualstudio.com/">Visual Studio Code</a> là ide hỗ trợ quản lý source code dễ dàng và nhiều extension giúp tăng tốc động làm việc.</p>
                    </code></pre>
                    <p>Cài đặt thư viện Django.</p>
                    <pre class="  language-bash"><code class="  language-bash">pip install django
                    </code></pre>
                    <p>Ta sẽ mở terminal trong Project lên, ta có thể dùng VS Code để mở Terminal:</p>
                    <pre class="  language-bash"><code class="  language-bash">django-admin startproject <span><</span>Tên Project >
                    </code></pre>
                    <p>Bây giờ ta sẽ gõ cú pháp sau để khởi động server ảo.</p>
                    <pre class="  language-bash"><code class="  language-bash">python manage.py runserver
                    </code></pre>
                    <p>Mở trình duyệt truy cập vào localhost:8000 để xem kết quả.</p>
                  </div>
                </article>

                <article id="support">
                  <h3 class="h4">
                    <p>Cách nhận hỗ trợ</p>
                  </h3>
                  <div>
                    <p>Gửi yêu cầu hỗ trợ về hòm thư: eopdevtech@gmail.com .</p>
                    <p>Truy cập trực tiếp vào website: <a href="https://eoptech.info/">https://eoptech.info/</a> để nhận hỗ trợ trực tiếp của nhân viên.</p>

                  </div>
                </article>

                <article id="feedback">
                  <h3 class="h4">
                    <p>Gửi phản hồi</p>
                  </h3>
                  <div>
                    <p>Gửi yêu phản hồi về hòm thư: eopdevtech@gmail.com .</p>
                    <p>Truy cập trực tiếp vào website: <a href="https://eoptech.info/">https://eoptech.info/</a> để phản hồi về chất lượng dịch vụ.</p>
                  </div>
                </article>

              </div>
            </div>
      </div>
    </section>
    <!-- The Modal -->
    <div class="modal" id="myModal_excel">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Import dữ liệu ảnh</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="excel-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="import_excle">File excel:</label>
                        <input type="file" class="form-control" name="import_excle" placeholder="File excel" id="import_excle">
                    </div>
                    <div class="alert alert-success" id="alert-excel-done" style="display:none">
                      <strong>Thành công!</strong> Upload dữ liệu ảnh thành công.
                    </div>
                    <div class="alert alert-warning" id="alert-excel-fail" style="display:none">
                      <strong>Thất bại!</strong> Upload dữ liệu ảnh thất bại.
                    </div>
                    <input id="upload_excel" type="submit" name="upload_excel" value="Upload Excel" class="btn btn-primary" />
                    <button class="btn btn-primary" id="load-excel" style="display:none">
                        <span class="spinner-border spinner-border-sm"></span>
                        Loading..
                    </button>
                    <label id="download_exl" for="#file_ex" class="btn btn-primary" style="display:none">Download file</label>
                    <input id="#file_ex" type="submit" name="download_excel" class="btn btn-primary" style="display:none;"/>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <div class="modal" id="myModal_image">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Import ảnh</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="img-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="pwImg">File ảnh:</label>
                        <input type="file" class="form-control" name="import_img" id="import_img" placeholder="File image" id="pwImg">
                    </div>
                    <div class="alert alert-success" id="alert-img-done" style="display:none">
                      <strong>Thành công!</strong> Upload ảnh thành công.
                    </div>
                    <div class="alert alert-warning" id="alert-img-fail" style="display:none">
                      <strong>Thất bại!</strong> Upload ảnh thất bại.
                    </div>
                    <input type="submit" id ="upload_img" name="upload_img" value="Upload Image" class="btn btn-primary" />
                      <button class="btn btn-primary" id="load-ding" style="display:none">
                        <span class="spinner-border spinner-border-sm"></span>
                        Loading..
                      </button>
                    <label id="download-img" for="#file_img" class="btn btn-primary" style="display:none">Download ảnh</label>
                    <input id="#file_img" type="submit" name="download_image" class="btn btn-primary" style="display:none;margin-top: 8px;"/>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal_profile">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Xin chào: {{user}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <span ><a  class="hello-msg" href="{% url 'logout' %}">Đăng xuất</a></span>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <script>
        //upload img
        $('#upload_img').on('click', function(e){
          e.preventDefault();
          var fileInput = document.getElementById('import_img');
          var filePath = fileInput.value;
          var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
          if(!allowedExtensions.exec(filePath)){
              alert('Ảnh không đúng địng dạng (.jpeg/.jpg/.png/.gif).');
              //fileInput.value = '';
              return false;
          }else{
              var data = new FormData($('#img-form').get(0));
              $('#load-ding').attr('style','display: ""');
              $.ajax({
                  type : "POST",
                  url: "/home/post/img",
                  contentType: 'multipart/form-data',
                  processData: false,
                  contentType: false,
                  data: data,
                  success: function(data){
                    if(data.data=='0000'){
                      $('#alert-img-done').attr('style','display: ""');
                      setTimeout(function(){
                        document.getElementById("alert-img-done").style.display = "none";
                      }, 1000);
                      $('#load-ding').attr('style','display: none');
                      $('#download-img').attr('style','display: "";margin-top: 8px;');
                    }else{
                      $('#alert-img-fail').attr('style','display: ""');
                      setTimeout(function(){
                        document.getElementById("alert-img-fail").style.display = "none";
                      }, 1000);
                    }

                  },

                  failure: function() {

                  }
              });
          }
        });
        $('#button-img').on('click', function(e){
          $('#download-img').attr('style','display: none');
          $("#import_img").val("");
        });
        //upload excel
        $('#upload_excel').on('click', function(e){
            e.preventDefault();
            var fileInput = document.getElementById('import_excle');
            var filePath = fileInput.value;
            var allowedExtensions = /(\.xlsx)$/i;
            if(!allowedExtensions.exec(filePath)){
                alert('Dữ liệu ảnh không đúng định dạng (.xlsx).');
                //fileInput.value = '';
                return false;
            }else{
              var data = new FormData($('#excel-form').get(0));
              $('#load-excel').attr('style','display: ""');
              $.ajax({
                type : "POST",
                url: "/home/post/excel",
                contentType: 'multipart/form-data',
                processData: false,
                contentType: false,
                data: data,
                success: function(data){
                  if(data.data=='0000'){
                    $('#alert-excel-done').attr('style','display: ""');
                    setTimeout(function(){
                      document.getElementById("alert-excel-done").style.display = "none";
                    }, 1000);
                    $('#load-excel').attr('style','display: none');
                    $('#download_exl').attr('style','display: "";margin-top: 8px;');
                  }else{
                    $('#alert-excel-fail').attr('style','display: ""');
                    setTimeout(function(){
                      document.getElementById("alert-excel-done").style.display = "none";
                    }, 1000);
                  }

                },

                failure: function() {

                }
            });
          }
        });
      $('#button-excel').on('click', function(e){
        $('#download_exl').attr('style','display: none');
        $("#import_excle").val("");
      });
    </script>
{% endblock %}
